<%- include('../partials/header.ejs') %>

<div class = "property-container">

<h2 class="section-title">All Properties</h2>

<div class="property-grid"><% properties.forEach(property => { %>

  <div class="property-card">  <a href="/properties/<%= property._id %>">
    <% if (property.images && property.images.length > 0) { %>
      <img src="<%= property.images[0] %>" width="200">
    <% } else { %>
      <p>No image available</p>
    <% } %>

<div class="card-body">
    <h3><%= property.title %></h3>
<p><strong>$<%= property.price.toLocaleString() %></strong> | <%= property.purpose %></p></div>
</a>
</div>
<% }) %>
</div>
</div>

<%- include('../partials/footer.ejs') %>
