<%- include("../partials/header") %>

<main class="appointments-page">
  <% if (user.role === "owner") { %>
    <h1 class="appointments-title">Manage Appointments</h1>
  <% } else { %>
    <h1 class="appointments-title">My Appointments</h1>
  <% } %>

  <% if (!appointments || appointments.length === 0) { %>
    <p class="no-appointments-text">No appointments yet.</p>
  <% } else { %>

    <div class="appointments-list">
      <% for (let i = 0; i < appointments.length; i++) { %>
        <% const appointment = appointments[i] %>

        <div class="appointment-card">

          <p>Property: <%= appointment.propertyId.title %></p>

          <% if (user.role === "owner") { %>
            <p>Client: <%= appointment.clientId.name %></p>
          <% } %>

          <p>Start: <%= new Date(appointment.startDateTime).toLocaleString() %></p>
          <p>End: <%= new Date(appointment.endDateTime).toLocaleString() %></p>
          <p>Status: <%= appointment.status %></p>
          <p>Note: <%= appointment.note %></p>

          <div class="appointment-actions">
            <a href="/appointments/<%= appointment._id %>">
              View Details
            </a>
          </div>

          <% if (user.role === "client" && appointment.status === "pending") { %>
            <div>
              <form action="/appointments/<%= appointment._id %>?_method=DELETE" method="POST">
                <button type="submit">Cancel Appointment</button>
              </form>
            </div>

            <div>
              <a href="/appointments/<%= appointment._id %>/edit"> Edit Appointment </a>
            </div>
          <% } %>

          <% if (user.role === "owner" && appointment.status === "pending") { %>
            <div>
              <form action="/appointments/<%= appointment._id %>?_method=PUT" method="POST">
                <input type="hidden" name="status" value="confirmed">
                <button type="submit">Confirm</button>
              </form>

              <form action="/appointments/<%= appointment._id %>?_method=PUT" method="POST">
                <input type="hidden" name="status" value="cancelled">
                <button type="submit">Cancel</button>
              </form>
            </div>
          <% } %>

        </div>
      <% } %>
    </div>

  <% } %>
</main>

<%- include("../partials/footer") %>
