<%- include("../partials/header") %>

<main class="appointment-page">
  <h1 class="appointment-title">Appointment Details</h1>

  <div class="appointment-box">
    <p class="appointment-line">
      <span class="label-text">Property:</span>
      <span class="value-text"><%= appointment.propertyId.title %></span>
    </p>

    <% if (user.role === "owner") { %>
      <p class="appointment-line">
        <span class="label-text">Client Name:</span>
        <span class="value-text"><%= appointment.clientId.name %></span>
      </p>

      <p class="appointment-line">
        <span class="label-text">Client Email:</span>
        <span class="value-text"><%= appointment.clientId.email %></span>
      </p>

      <p class="appointment-line">
        <span class="label-text">Client Phone:</span>
        <span class="value-text"><%= appointment.clientId.phoneNumber %></span>
      </p>
    <% } %>

    <p class="appointment-line">
      <span class="label-text">Start:</span>
      <span class="value-text"><%= new Date(appointment.startDateTime).toLocaleString() %></span>
    </p>

    <p class="appointment-line">
      <span class="label-text">End:</span>
      <span class="value-text"><%= new Date(appointment.endDateTime).toLocaleString() %></span>
    </p>

    <p class="appointment-line">
      <span class="label-text">Status:</span>
      <span class="value-text status-thing"><%= appointment.status %></span>
    </p>

    <p class="appointment-line note-line">
      <span class="label-text">Note:</span>
      <span class="value-text"><%= appointment.note || "—" %></span>
    </p>

    <% if (user.role === "owner" && appointment.status === "pending") { %>
      <div class="owner-buttons">
        <form action="/appointments/<%= appointment._id %>?_method=PUT" method="POST" class="small-form">
          <input type="hidden" name="status" value="confirmed">
          <button type="submit" class="yes-btn">Confirm</button>
        </form>

        <form action="/appointments/<%= appointment._id %>?_method=PUT" method="POST" class="small-form">
          <input type="hidden" name="status" value="cancelled">
          <button type="submit" class="no-button">Cancel</button>
        </form>
      </div>
    <% } %>

    <div class="back-button-wrap">
      <a href="/appointments/myAppointments" class="back-button">Back</a>
    </div>
  </div>
</main>

<%- include("../partials/footer") %>
